<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dhl</key>
	<string>DHL-中国件</string>
	<key>dhlde</key>
	<string>DHL-德国件（DHL Deutschland）</string>
	<key>dhlen</key>
	<string>DHL-全球件DHL-中国件</string>
	<key>dhlnetherlands</key>
	<string>DHL-荷兰（DHL Netherlands）</string>
	<key>dhlpoland</key>
	<string>DHL-波兰（DHL Poland）</string>
	<key>dhlbenelux</key>
	<string>DHL Benelux</string>
	<key>deltec</key>
	<string>Deltec CourierDHL BeneluxDHL-波兰（DHL Poland）DHL-德国件（DHL Deutschland）DHL-荷兰（DHL Netherlands）DHL-全球件DHL-中国件Direct LinkDPDDPD GermanyDPD Poland</string>
	<key>coe</key>
	<string>COE</string>
	<key>cnpex</key>
	<string>CNPEX中邮快递</string>
	<key>citylink</key>
	<string>City-Link</string>
	<key>chronopostport</key>
	<string>Chronopost Portugal</string>
	<key>bht</key>
	<string>BHT</string>
	<key>asendiausa</key>
	<string>Asendia USA</string>
	<key>aramex</key>
	<string>Aramex</string>
	<key>adp</key>
	<string>ADP国际快递</string>
	<key>abf</key>
	<string>ABF</string>
	<key>aae</key>
	<string>AAE-中国件</string>
	<key>yuantong</key>
	<string>圆通</string>
	<key>dpd</key>
	<string>DPD</string>
	<key>dpdgermany</key>
	<string>DPD Germany</string>
	<key>dpdpoland</key>
	<string>DPD Poland</string>
	<key>dpduk</key>
	<string>DPD UK</string>
	<key>dpex</key>
	<string>DPEX</string>
	<key>dtdcindia</key>
	<string>DTDC India</string>
	<key>dsukuaidi</key>
	<string>D速快递</string>
	<key>ems</key>
	<string>EMS</string>
	<key>emsukraine</key>
	<string>乌克兰EMS(EMS Ukraine)</string>
	<key>emsinten</key>
	<string>EMS-国际件-英文</string>
	<key>emsguoji</key>
	<string>EMS-国际件</string>
	<key>fastgo</key>
	<string>速派快递(FastGo)</string>
	<key>fedexuk</key>
	<string>FedEx-英国件（FedEx UK)</string>
	<key>fedexcn</key>
	<string>Fedex-国际件-中文</string>
	<key>gatikwe</key>
	<string>Gati-KWE</string>
	<key>gsm</key>
	<string>GSM</string>
	<key>gls</key>
	<string>GLS</string>
	<key>kcs</key>
	<string>KCS</string>
	<key>annengwuliu</key>
	<string>安能物流</string>
	<key>advancing</key>
	<string>安达信</string>
	<key>anxindakuaixi</key>
	<string>安信达</string>
	<key>anxl</key>
	<string>安迅物流</string>
	<key>macao</key>
	<string>澳门(Macau Post)</string>
	<key>idada</key>
	<string>百成大达物流</string>
	<key>baifudongfang</key>
	<string>百福东方</string>
	<key>bqcwl</key>
	<string>百千诚物流</string>
	<key>huitongkuaidi</key>
	<string>百世汇通</string>
	<key>baishiwuliu</key>
	<string>百世物流</string>
	<key>bangsongwuliu</key>
	<string>邦送物流</string>
	<key>bjemstckj</key>
	<string>北京EMS</string>
	<key>xiaohongmao</key>
	<string>北青小红帽</string>
	<key>xlobo</key>
	<string>贝海国际速递</string>
	<key>biaojikuaidi</key>
	<string>彪记快递</string>
	<key>byht</key>
	<string>博源恒通</string>
	<key>chengjisudi</key>
	<string>城际速递</string>
	<key>city100</key>
	<string>城市100</string>
	<key>ckeex</key>
	<string>城晓国际快递</string>
	<key>chukou1</key>
	<string>出口易</string>
	<key>chuanxiwuliu</key>
	<string>传喜物流</string>
	<key>chuangyi</key>
	<string>创一快递</string>
	<key>dfpost</key>
	<string>达方物流</string>
	<key>datianwuliu</key>
	<string>大田物流</string>
	<key>dayangwuliu</key>
	<string>大洋物流</string>
	<key>debangwuliu</key>
	<string>德邦物流</string>
	<key>didasuyun</key>
	<string>递达速运</string>
	<key>disifang</key>
	<string>递四方</string>
	<key>diantongkuaidi</key>
	<string>店通快递</string>
	<key>dingdong</key>
	<string>叮咚快递</string>
	<key>donghanwl</key>
	<string>东瀚物流</string>
	<key>donghong</key>
	<string>东红物流</string>
	<key>fardarww</key>
	<string>颿达国际快递</string>
	<key>vancl</key>
	<string>凡客配送</string>
	<key>fanyukuaidi</key>
	<string>凡宇快递</string>
	<key>feibaokuaidi</key>
	<string>飞豹快递</string>
	<key>feihukuaidi</key>
	<string>飞狐快递</string>
	<key>feikangda</key>
	<string>飞康达</string>
	<key>feikuaida</key>
	<string>飞快达</string>
	<key>shipgce</key>
	<string>飞洋快递</string>
	<key>hnfy</key>
	<string>飞鹰物流</string>
	<key>feiyuanvipshop</key>
	<string>飞远配送</string>
	<key>fengxingtianxia</key>
	<string>风行天下</string>
	<key>fenghuangkuaidi</key>
	<string>凤凰快递</string>
	<key>gdkd</key>
	<string>港快速递</string>
	<key>hre</key>
	<string>高铁速递</string>
	<key>gongsuda</key>
	<string>共速达</string>
	<key>gda</key>
	<string>冠达快递</string>
	<key>guangdongtonglu</key>
	<string>广东通路</string>
	<key>guangdongyouzhengwuliu</key>
	<string>广东邮政</string>
	<key>gtongsudi</key>
	<string>广通速递</string>
	<key>gzxingcheng</key>
	<string>贵州星程快递</string>
	<key>youzhengguoji</key>
	<string>国际包裹</string>
	<key>guotongkuaidi</key>
	<string>国通快递</string>
	<key>haihongmmb</key>
	<string>海红for买卖宝</string>
	<key>haihongwangsong</key>
	<string>海红网送</string>
	<key>haimengsudi</key>
	<string>海盟速递</string>
	<key>haiwaihuanqiu</key>
	<string>海外环球</string>
	<key>koreapost</key>
	<string>韩国（Korea Post）</string>
	<key>hanrun</key>
	<string>韩润物流</string>
	<key>hlyex</key>
	<string>好运来</string>
	<key>haoshengwuliu</key>
	<string>昊盛物流</string>
	<key>ucs</key>
	<string>合众速递(UCS）</string>
	<key>hebeijianhua</key>
	<string>河北建华</string>
	<key>yamato</key>
	<string>黑猫雅玛多</string>
	<key>montenegro</key>
	<string>黑山(Pošta Crne Gore)</string>
	<key>hengluwuliu</key>
	<string>恒路物流</string>
	<key>sxhongmajia</key>
	<string>红马甲物流</string>
	<key>nedahm</key>
	<string>红马速递</string>
	<key>hongpinwuliu</key>
	<string>宏品物流</string>
	<key>hutongwuliu</key>
	<string>户通物流</string>
	<key>hzpl</key>
	<string>华航快递</string>
	<key>huaqikuaiyun</key>
	<string>华企快运</string>
	<key>htongexpress</key>
	<string>华通快运</string>
	<key>huaxialongwuliu</key>
	<string>华夏龙</string>
	<key>pfcexpress</key>
	<string>皇家物流</string>
	<key>huangmajia</key>
	<string>黄马甲</string>
	<key>huiqiangkuaidi</key>
	<string>汇强快递</string>
	<key>huiwen</key>
	<string>汇文</string>
	<key>huoban</key>
	<string>伙伴物流</string>
	<key>jixianda</key>
	<string>急先达</string>
	<key>jiayunmeiwuliu</key>
	<string>加运美</string>
	<key>syjiahuier</key>
	<string>佳惠尔</string>
	<key>jiajikuaidi</key>
	<string>佳吉快递</string>
	<key>cambodia</key>
	<string>柬埔寨(Cambodia Post)</string>
	<key>jiajiwuliu</key>
	<string>佳吉快运</string>
	<key>jiayiwuliu</key>
	<string>佳怡物流</string>
	<key>jialidatong</key>
	<string>嘉里大通</string>
	<key>ceskaposta</key>
	<string>捷克（Česká pošta）</string>
	<key>jietekuaidi</key>
	<string>捷特快递</string>
	<key>jindawuliu</key>
	<string>金大物流</string>
	<key>jinyuekuaidi</key>
	<string>晋越快递</string>
	<key>jd</key>
	<string>京东</string>
	<key>jinguangsudikuaijian</key>
	<string>京广速递</string>
	<key>jiuyicn</key>
	<string>久易快递</string>
	<key>cameroon</key>
	<string>喀麦隆(CAMPOST)</string>
	<key>kxda</key>
	<string>凯信达</string>
	<key>kangliwuliu</key>
	<string>康力物流</string>
	<key>kuayue</key>
	<string>跨越速递</string>
	<key>kuaidawuliu</key>
	<string>快达物流</string>
	<key>kuaijiesudi</key>
	<string>快捷速递</string>
	<key>kuaitao</key>
	<string>快淘快递</string>
	<key>lanbiaokuaidi</key>
	<string>蓝镖快递</string>
	<key>lanhukuaidi</key>
	<string>蓝弧快递</string>
	<key>lejiedi</key>
	<string>乐捷递</string>
	<key>lbbk</key>
	<string>立白宝凯物流</string>
	<key>lijisong</key>
	<string>立即送</string>
	<key>lianbangkuaidi</key>
	<string>联邦快递</string>
	<key>lianhaowuliu</key>
	<string>联昊通</string>
	<key>shlindao</key>
	<string>林道国际快递</string>
	<key>longbanwuliu</key>
	<string>龙邦速递</string>
	<key>longlangkuaidi</key>
	<string>隆浪快递</string>
	<key>mailikuaidi</key>
	<string>麦力快递</string>
	<key>meiguokuaidi</key>
	<string>美国快递</string>
	<key>letseml</key>
	<string>美联快递</string>
	<key>menduimen</key>
	<string>门对门</string>
	<key>minbangsudi</key>
	<string>民邦速递</string>
	<key>minghangkuaidi</key>
	<string>民航快递</string>
	<key>minshengkuaidi</key>
	<string>闽盛快递</string>
	<key>mingliangwuliu</key>
	<string>明亮物流</string>
	<key>ndwl</key>
	<string>南方传媒物流</string>
	<key>nanjing</key>
	<string>南京100</string>
	<key>nanjingshengbang</key>
	<string>南京晟邦物流</string>
	<key>ganzhongnengda</key>
	<string>能达速递</string>
	<key>peex</key>
	<string>派尔快递</string>
	<key>peixingwuliu</key>
	<string>陪行物流</string>
	<key>peisihuoyunkuaidi</key>
	<string>配思货运</string>
	<key>pinsuxinda</key>
	<string>品速心达快递</string>
	<key>pingandatengfei</key>
	<string>平安达腾飞</string>
	<key>sevendays</key>
	<string>七天连锁</string>
	<key>qbexpress</key>
	<string>秦邦快运</string>
	<key>anjiekuaidi</key>
	<string>青岛安捷快递</string>
	<key>quanchenkuaidi</key>
	<string>全晨快递</string>
	<key>quanfengkuaidi</key>
	<string>全峰快递</string>
	<key>quanjitong</key>
	<string>全际通</string>
	<key>quanritongkuaidi</key>
	<string>全日通</string>
	<key>quantwl</key>
	<string>全通快运</string>
	<key>quanyikuaidi</key>
	<string>全一快递</string>
	<key>rrs</key>
	<string>日日顺物流</string>
	<key>riyuwuliu</key>
	<string>日昱物流</string>
	<key>rufengda</key>
	<string>如风达</string>
	<key>rfsd</key>
	<string>瑞丰速递</string>
	<key>nuoyaao</key>
	<string>偌亚奥国际快递</string>
	<key>saiaodi</key>
	<string>赛澳递</string>
	<key>santaisudi</key>
	<string>三态速递</string>
	<key>shangda</key>
	<string>上大物流</string>
	<key>hyk</key>
	<string>上海昊宏国际货物</string>
	<key>shanghaikuaitong</key>
	<string>上海快通</string>
	<key>shanghaiwujiangmmb</key>
	<string>上海无疆for买卖宝</string>
	<key>shangcheng</key>
	<string>尚橙物流</string>
	<key>shentong</key>
	<string>申通快递</string>
	<key>dechuangwuliu</key>
	<string>深圳德创物流</string>
	<key>shenganwuliu</key>
	<string>圣安物流</string>
	<key>shengfengwuliu</key>
	<string>盛丰物流</string>
	<key>shenghuiwuliu</key>
	<string>盛辉物流</string>
	<key>sfift</key>
	<string>十方通物流</string>
	<key>shiyunkuaidi</key>
	<string>世运快递</string>
	<key>shunfengen</key>
	<string>顺丰-美国件</string>
	<key>shunfeng</key>
	<string>顺丰速运</string>
	<key>kuaiyouda</key>
	<string>四川快优达速递</string>
	<key>scxingcheng</key>
	<string>四川星程快递</string>
	<key>sucheng</key>
	<string>速呈宅配</string>
	<key>suer</key>
	<string>速尔快递</string>
	<key>sutongwuliu</key>
	<string>速通物流</string>
	<key>suijiawuliu</key>
	<string>穗佳物流</string>
	<key>postserv</key>
	<string>台湾（中华邮政）</string>
	<key>nntengda</key>
	<string>腾达速递</string>
	<key>tiandihuayu</key>
	<string>天地华宇</string>
	<key>tiantian</key>
	<string>天天快递</string>
	<key>tianzong</key>
	<string>天纵物流</string>
	<key>tonghetianxia</key>
	<string>通和天下</string>
	<key>chinatzx</key>
	<string>同舟行物流</string>
	<key>wanboex</key>
	<string>万博快递</string>
	<key>wanjiawuliu</key>
	<string>万家物流</string>
	<key>wanxiangwuliu</key>
	<string>万象物流</string>
	<key>weitepai</key>
	<string>微特派</string>
	<key>wenjiesudi</key>
	<string>文捷航空</string>
	<key>wuyuansudi</key>
	<string>伍圆速递</string>
	<key>xianchengliansudi</key>
	<string>西安城联速递</string>
	<key>xilaikd</key>
	<string>西安喜来快递</string>
	<key>xiyoutekuaidi</key>
	<string>希优特</string>
	<key>hkpost</key>
	<string>香港(HongKong Post)</string>
	<key>xianglongyuntong</key>
	<string>祥龙运通物流</string>
	<key>xiaoxiangchenbao</key>
	<string>潇湘晨报</string>
	<key>xinbangwuliu</key>
	<string>新邦物流</string>
	<key>neweggozzo</key>
	<string>新蛋奥硕</string>
	<key>anlexpress</key>
	<string>新干线快递</string>
	<key>nsf</key>
	<string>新顺丰（NSF）</string>
	<key>xinhongyukuaidi</key>
	<string>鑫飞鸿</string>
	<key>bjxsrd</key>
	<string>鑫锐达</string>
	<key>xsrd</key>
	<string>鑫世锐达</string>
	<key>xinfengwuliu</key>
	<string>信丰物流</string>
	<key>yafengsudi</key>
	<string>亚风速递</string>
	<key>yemen</key>
	<string>也门(Yemen Post)</string>
	<key>yibangwuliu</key>
	<string>一邦速递</string>
	<key>yiqiguojiwuliu</key>
	<string>一柒国际物流</string>
	<key>yitongfeihong</key>
	<string>一统飞鸿</string>
	<key>yilingsuyun</key>
	<string>亿领速运</string>
	<key>yishunhang</key>
	<string>亿顺航</string>
	<key>yxexpress</key>
	<string>亿翔</string>
	<key>yitongda</key>
	<string>易通达</string>
	<key>yinsu</key>
	<string>音素快运</string>
	<key>yinjiesudi</key>
	<string>银捷速递</string>
	<key>gml</key>
	<string>英脉物流</string>
	<key>youshuwuliu</key>
	<string>优速物流</string>
	<key>youbijia</key>
	<string>邮必佳</string>
	<key>youzhengguonei</key>
	<string>邮政包裹/平邮</string>
	<key>yuxinwuliu</key>
	<string>宇鑫物流</string>
	<key>yujiawuliu</key>
	<string>煜嘉物流</string>
	<key>yuanzhijiecheng</key>
	<string>元智捷诚</string>
	<key>yuanfeihangwuliu</key>
	<string>原飞航</string>
	<key>yuananda</key>
	<string>源安达</string>
	<key>yuanweifeng</key>
	<string>源伟丰</string>
	<key>yuanchengwuliu</key>
	<string>远成物流</string>
	<key>yuefengwuliu</key>
	<string>越丰物流</string>
	<key>leopard</key>
	<string>云豹国际货运</string>
	<key>dianyi</key>
	<string>云南滇驿物流</string>
	<key>czwlyn</key>
	<string>云南中诚</string>
	<key>yuntongkuaidi</key>
	<string>运通中港</string>
	<key>ytkd</key>
	<string>运通中港快递</string>
	<key>yunda</key>
	<string>韵达快递</string>
	<key>zengyisudi</key>
	<string>增益速递</string>
	<key>zhaijibian</key>
	<string>宅急便</string>
	<key>zhaijisong</key>
	<string>宅急送</string>
	<key>changyuwuliu</key>
	<string>长宇物流</string>
	<key>zhengzhoujianhua</key>
	<string>郑州建华</string>
	<key>sujievip</key>
	<string>郑州速捷</string>
	<key>zhimakaimen</key>
	<string>芝麻开门</string>
	<key>zhongruisudi</key>
	<string>中睿速递</string>
	<key>zhongsukuaidi</key>
	<string>中速快递</string>
	<key>zhongtianwanyun</key>
	<string>中天万运</string>
	<key>zhongtiewuliu</key>
	<string>中铁快运</string>
	<key>ztky</key>
	<string>中铁物流</string>
	<key>zhongtongphone</key>
	<string>中通（带电话）</string>
	<key>zhongtong</key>
	<string>中通快递</string>
	<key>sinoairinex</key>
	<string>中外运空运</string>
	<key>zhongwaiyun</key>
	<string>中外运速递</string>
	<key>zhongyouwuliu</key>
	<string>中邮物流</string>
	<key>zhongxinda</key>
	<string>忠信达</string>
	<key>cqxingcheng</key>
	<string>重庆星程快递</string>
</dict>
</plist>
